@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #6264a7;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  width: 100%;
  height: 10vh;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header h1 {
  color: #121212;
}
.search {
  padding: 0.5rem 0.5rem;
  border: 1px solid whitesmoke;
  border-radius: 20px;
}
input.search {
  height: 3vh;
  outline: none;
  background: #1e2e3e;
  color: #9fa4fe;
}

.search::placeholder {
  color: #a1a1a1;
  box-shadow: none;
  background: transparent;
}
.header label {
  font-size: 14px;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  position: relative;
  margin: 1.5rem 2rem;
  width: 260px;
  height: 480px;
  background-color: #121212;
  color: #b7bafc;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.25rem 1rem;
}

.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 1rem;

}
.movie-info h2 {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #e5e5df;
}

.movie-info > span {
  font-size: 1rem;
}

.movie-overview {
  position: absolute;
  background: #121212;
  color: #e5e5df;
  padding: 1rem 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%) translateX(100%) rotate(20deg);
  transition: transform 0.8s ease-in-out;
  overflow: hidden;
}

.movie-overview:hover,
.movie-overview:focus {
  opacity: 1;
}

.movie:hover .movie-overview {
  transform: translateY(0%) translateX(0%);
}

.tag {
  background-color: #121212;
  border-radius: 1px;
  font-weight: 600;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}